<div class="row">
  <h3 class="display-4 text-center">Add An Issue</h3>
  <div class="col-md-10 offset-md-1">
    <form class="m-2" (ngSubmit)="addNewIssue()" #f="ngForm">
      <div class="form-floating m-2">
        <input
          type="text"
          name="issueDescription"
          id="issueDescription"
          class="form-control"
          placeholder="Enter Issue Description"
          (change)="issueDescriptionChanged()"
          ngModel
          required
          #issueDescription="ngModel"
        />
        <label for="issueDescription" class="text-primary"
          >Issue Description</label
        >
        <span
          *ngIf="issueDescriptionCount < 5 && issueDescription.touched"
          class="form-text text-danger"
          >Description must be atleast 5 characters long.
        </span>
      </div>
      <div class="form-floating m-2">
        <select
          id="issueSeverity"
          name="issueSeverity"
          class="form-select form-select-md text-primary"
          ngModel
        >
          <option label="-- Choose Severity --" disabled></option>
          <option
            *ngFor="let severity of severityData; let i = index"
            [ngValue]="severity"
          >
            {{ severity }}
          </option>
        </select>
        <label for="issueSeverity" class="text-primary">Severity</label>
      </div>
      <div
        class="form-check form-check-inline mb-2"
        *ngFor="let status of statusData"
      >
        <input
          class="form-check-input"
          type="radio"
          name="status"
          id="status"
          required
          ngModel
          [value]="status"
        />
        <label class="form-check-label text-primary" for="status">{{
          status
        }}</label>
      </div>
      <button
        [disabled]="f.invalid"
        type="submit"
        class="btn btn-primary btn-block w-100"
      >
        Add Issue
      </button>
      <span class="form-text text-danger" *ngIf="!f.valid && f.touched"
        >Please correct the form errors</span
      >
    </form>
  </div>
</div>
