<nav class="navbar navbar-expand-sm bg-light p-2">
  <a
    class="navbar-brand"
    routerLink=""
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    >Assignment 5</a
  >
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarCollapse"
    aria-controls="navbarCollapse"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="/about" routerLinkActive="active" class="nav-link"
          >About</a
        >
      </li>
      <li class="nav-item">
        <a routerLink="/issues" routerLinkActive="active" class="nav-link"
          >Issues</a
        >
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<!-- <div class="container mt-2">
  <app-about></app-about>
  <app-issue-added [addedIssue]="appIssue"> </app-issue-added>
  <app-issues
    [issueApplicationName]="applicationName"
    (emitIssue)="newIssueEmitted($event)"
  ></app-issues>
</div> -->
