<div class="container">
  <div class="row text-center">
    <h3 class="display-6 text-info">
      <strong>Issue List</strong>
    </h3>
    <div class="col-md-10">
      <table class="table table-bordered text-center">
        <thead>
          <tr>
            <th class="text-danger" scope="col">Issue Description</th>
            <th class="text-danger" scope="col">Issue Severity</th>
            <th class="text-danger" scope="col">Issue Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let issue of issues">
            <td class="text-primary">
              <a [routerLink]="['/issues', issue.issueDescription]">{{
                issue.issueDescription
              }}</a>
            </td>
            <td class="text-primary">
              <a [routerLink]="['/issues', issue.issueDescription]">{{
                issue.issueSeverity
              }}</a>
            </td>
            <td class="text-primary">
              <a [routerLink]="['/issues', issue.issueDescription]">{{
                issue.issueStatus
              }}</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10">
      <a
        type="submit"
        class="btn btn-primary btn-block w-100"
        routerLink="/add-issue"
      >
        Add Issue
      </a>
    </div>
  </div>
</div>
